{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% endblock %}



{% block body %}
<div class="bvn">
    <h1>Bienvenue collaborateur</h1>
    
</div>

</div>
{% endblock %}{# empty Twig template #}
